.form-cont{
  display: flex;
    background-color: rgb(209, 198, 198);
    border-radius: 20px;
    padding: 24px;
    margin: 20px;
    width:300px;
}

.img-cont{
  display: flex;
  gap: 16px;
  justify-content: center;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.im{
  display: flex;
    
    background-color: rgb(209, 198, 198);
    border-radius: 20px;
    padding: 24px;
    margin: 20px;
    width:300px;
}



